html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    color: #6c7279;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.page-header {
    margin-bottom: 100px;
    padding-top: 30px;
}

.page-nav {
    padding: 0;
}

.site-navigation {
    float: right;
    margin: 0;
    padding: 0;
    min-width: 300px;
    text-transform: uppercase;
    list-style: none;
}

.site-navigation li {
    float: left;
}

.site-navigation li:not(:last-child) {
    margin-right: 0px;
}

.nav-list_item {
    margin-right: 30px;
    margin-top: 6px;
}

.site-navigation a {
    display: block;
    font-weight: 700;
    color: #0f0101;
    text-decoration: none;
    line-height: 17px;
    font-size: 14px;
}

.site-logo {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    color: #555252;
}

.site-logo::first-letter {
    color: #1abc9c
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #7fd9c7;
}

.section_title {
    text-align: center;
    font-size: 48px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #555252;
    margin-bottom: 90px;
}

.section_title::after {
    content: "";
    display: block;
    border-bottom: 7px solid #1abc9c;
    margin-top: 5px;
    width: 165px;
    margin: auto;
    padding-bottom: 35px;
}

.features {
    margin-bottom: 100px;
}

.features-list {
    margin: 0;
    padding: 0;
}

.features-list-item {
    float: left;
    width: 255px;
    list-style: none;
}

.features-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.features-list-item:nth-child(-n+4) {
    margin-bottom: 30px;
}

.photo {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.name {
    float: left;
    color: #fff;
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: #323232;
    line-height: 40px;
    width: 200px;
    padding-left: 10px;
    margin: 0;
    text-transform: uppercase;
}

.fon {
    width: 255px;
    height: 290px;
    background-color: #e9f0fd;
    margin-bottom: 0;
}

.features-list-item p {
    float: right;
    background-color: #8c8c8c;
    font-size: 18px;
    width: 55px;
    height: 40px;
    font-style: 18px;
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.features-list li:hover h3:first-of-type {
    background: #1abc9c;
}

.features-list li:hover p:last-of-type {
    background: #7fd9c7;
}

.team {
    padding-bottom: 50px;
}

.team-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.team-list-item {
    float: left;
    width: 350px;
    margin-right: 30px;
    padding-right: 30px;
}

.team-list-item:last-child {
    margin-right: 0;
}

.team-list-item img {
    margin-bottom: 10px;
    background-size: cover;
}

.text {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    margin-top: 10px;
    font-weight: 700;
    line-height: 26px;
    color: #555252;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

.text::after {
    display: block;
    content: "";
    border-bottom: 3px solid #1abc9c;
    margin-top: 15px;
    width: 165px;
}

.team-list-item p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 10px;
}

.section_button {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #4ec6ab;
    padding: 20px 40px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 3%;
    display: inline-block;
    min-width: 160px;
    cursor: pointer;
    min-height: 50px;
    text-align: center;
    background: #4ec6ab;
    color: #fff;
    border: none;
}

button:hover {
    color: #000220;
}