html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", "Arial", sans-serif;
    color: #6c7279;
    font-size: 14px;
    line-height: 21px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.conteiner {
    width: 1170px;
    margin: 0 auto;
}

.page-header {
    margin-bottom: 60px;
}

.page-nav {
    padding: 38px 0;
}

.site-navigation {
    display: inline-block;
    width: 700px;
    margin: 0 100px;
    padding: 40px 0;
    font-size: 13px;
    list-style: none;
    text-align: center;
}

.site-navigation li {
    display: inline-block;
}

.site-navigation li:not(:last-child) {
    margin-right: 60px;
}

.site-navigation a {
    font-weight: 900;
    color: #1a0000;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 16px;
}

.features {
    margin-bottom: 50px;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.features-list-item {
    display: inline-block;
    width: 420px;
    margin-right: 30px;
    margin-bottom: 70px;
    padding: 0 38px;
    text-align: left;
}

.features-list-item:nth-child(2n) {
    margin-right: 0;
}

.features-list-item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.features-list-item h3 {
    margin-bottom: 24px;
    color: #2d3033;
    line-height: 17px;
    font-size: 14px;
}

.features-list-item p {
    font-size: 14px;
}

.features-list-item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.team-list-item {
    list-style: none;
}

.team-list-item {
    font-size: 14px;
}

.footer_wraper {
    border-color: black;
    margin: 40px 400px;
    padding: 0;
    display: block;
}