* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0px;
}

header, .out_wrapper, .services{
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    display: block;
    font-size: 24px;
    font-family: 'Wisdom Script';
    text-decoration: none;
    color: #ffeaa1;
}

header{
    padding-top: 50px;
    padding-bottom: 120px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.navigation{
    width: 485px;
    display: flex;
    justify-content: space-between;
}

.navigation a{
displey: block;
    font-size: 14px;
    font-weight: 700; 
    font-family: 'Montserat', sans-serif;
    text-decoration: none;
    text-transform: uppercase; 
    color: #222222;
}

.navigation a:hover{
    color: #ffeaa1;
}

.services{
    height: 370px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 72px;
}

h3{
    font-size: 16px;
    font-family: 'Droid';
    font-style: italic;
    margin-bottom: 52px;
    justify-content: space-around;
}

.out_wrapper{
    height: 230px;
    display: flex;
    justify-content: space-around;
}

.wrapper_serv{
    display: block;
    width: 260px;
    height: 128px;
}

.icon{
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: solid 2px #ffeaa1;
    margin: 20px auto;  
    display: flex;
    align-items: center;
    justify-content: center;  
}

.wrapper_serv h4{
    font-size: 18px;
    font-family: 'Montserat', sans-serif;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
}

.wrapper_serv span{
    width: 100%;
    font-family: 'Roboto-Slab', serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.icon svg{
    line-height: 72px;
}

.contact{
    background-color: #222222;
    height: 677px;
    text-align: center;
    background-image: url(./img/1.png);
    background-repeat: no-repeat;
    background-position: right 0 bottom 10px;
    margin-top: 100px;
}

.contact h3{
    color: #777777;
    margin-bottom: 77px;
}

.contact h2{
    color: #ffffff;
    padding-top: 85px;
    line-height: 78px;
}

.small_box{
    width: 455px;
    height: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserat';
    font-weight: bold;
    padding: 20px;
    color: #bbbbbb;
    border-radius: 3px;
}

.boxform{
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: column;    
}

.submit{
    width: 240px;
    height: 65px;
    background-color: #fed136;
    margin: 30px auto 0px;
    font-size: 18px;
    font-family: 'Montserat';
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
}

.large_box{
    width: 455px;
    height: 210px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserat';
    font-weight: bold;
    padding: 20px ;
    color: #bbbbbb;
    resize: none;
    border-radius: 3px;
}

.boxout{
    width: 940px;
    height: 210px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

.user_name:not(:placeholder-shown):valid,
.user_email:not(:placeholder-shown):valid,
.user_message:not(:placeholder-shown):valid{
    outline-style: solid;
    outline-color: rgb(9, 255, 0);
}

.user_name:focus:invalid,
.user_email:not(:placeholder-shown):invalid,
.user_message:focus:invalid{
    outline-style: solid;
    outline-color: rgb(255, 0, 0);
}